extends layout

block content
  .container
    .row.justify-content-center.align-items-end.h-100
      .col-12.col-sm-10.col-md-5.text-center
        img(src="/images/cable.png" width=250 height=250)
        h2 Not Found
        p.small Sorry, but the resource you requested for has expire or does not exists on our server.