extends layout

block content
  .container
    .row.justify-content-center
      .col-12.col-sm-10.col-md-5
        h4 Hello World
        p Zetas crescere in sala! Cur mortem unda? Ubi est secundus brodium?
        | Eheu, silva! Nunquam perdere turpis. Eheu. Ubi est alter barcas?
        | Frondators mori, tanquam nobilis hippotoxota. Volare unus ducunt ad emeritis hibrida.