extends layout

block content
  .container.mt-4
    .row
      .col-12.col-sm-10.col-md-8
        h3 Yay! Read the Secret Message
        .card.mt-4
          .card-body
            p.text-justify Sometimes an ungodly cream puff reads a magazine, but a dissident always graduates
            | from a womanly clodhopper! An usually wily alchemist plans an escape from the cleavage
            | about a boy a friendly debutante, because a toothpick eagerly makes a truce with a mirror
            | about the bride. An overwhelmingly gingerly onlooker daydreams, and the alchemist hesitates;
            | however, a bicep completely sells a fetishist to the clodhopper.
            br
            br
            p Does it has meaning to you??