mixin headerLayout()
  header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href="/") Passport Auth
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="headerNavbar")
        span.navbar-toggler-icon

      .collapse.navbar-collapse(id="headerNavbar")
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="#") Login
          li.nav-item
            a.nav-link(href="Sign Up")